<header>
  <section>
    <p id="title">Give me a random quote</p>
    <button class="bottom">I'm feeling lucky</button>
    <div id="loading"></div>
    <p id="errorquoteoftheday"></p>
    <figure id="day">
      <blockquote></blockquote>
      <cite></cite>
    </figure>
  </section>
</header>
