<html>
  <head>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title><%- title %></title>

      <link
        href="https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap"
        rel="stylesheet"
      />
      <link rel="icon" type="image/x-icon" href="/Icons/icon-512x512.png" />
      <link href="/styles.css" rel="stylesheet" />
      <link
        rel="manifest"
        href="/manifest.json"
        crossorigin="use-credentials"
      />
      <script type="text/javascript" src="/app.js"></script>
    </head>
  </head>
  <header></header>
  <body class="hidden">
    <section id="root">
      <figure id="highlight" class="figure">
        <blockquote>No wifi!</blockquote>
        <cite>network</cite>
        <a href="/">#</a>
      </figure>
      <!-- button geef me een random wuote  -->
      <!-- laad de json opniuew in en js in js gebruiken zodat hergebruik baar in alle ejs -->
    </section>
    <section id="singlequote"></section>
  </body>
</html>
