<%- include('./partials/head') %> 
<header></header>
  <main class="hidden">
    <section id="root">
      <figure id="highlight" class="figure">
        <blockquote>No wifi!</blockquote>
        <cite>network</cite>
        <a href="/">#</a>
      </figure>
      <!-- button geef me een random wuote  -->
      <!-- laad de json opniuew in en js in js gebruiken zodat hergebruik baar in alle ejs -->
    </section>
    <section id="singlequote"></section>
    </main>
  </body>
</html>
