<%- include('./partials/head') %> 
<header></header>
  <main class="hidden">
    <section id="root">
      <figure class="<%- color %>" id="highlight">
        <blockquote><%- quote.text %></blockquote>
        <cite><%- quote.name %></cite>
        <a href="/">#</a>
      </figure>
    </section>
    <section id="singlequote"></section>
  </main>
</body>
</html>
